<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<body>
<div class="home">
    <nav class="navbar navbar-inverse" style="background-color:  #687cd6; border-color:  #687cd6;">
        
            <div class="navbar-header">
                <nav class="fullhight">
                          <a  class="logo">
                            <img src="assets/l1.jpg" alt="Logo">
                            <h1  style="color: #fff; ">Attendence Report</h1>
                          </a>  
                </nav>
            </div>
            <section>
            <div class="nav navbar-nav navbar-right" style="margin-top: 10px;margin-right: 20px;">
                <button (click)="signUp()" class="btn btn-primary btn-lg" ><span class="glyphicon glyphicon-user"></span> Sign Up </button>
               &nbsp; <button (click)="logIn()" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-log-in"></span> Login</button>
            </div>
            </section>

    </nav>
 
    <div class="jumbotron" style="background-color: #f8f8f8; text-align: center;">
        <h2>Welcome to My Attendence Report Project</h2>
        
        <p><button class="btn btn-primary btn-lg" (click)="signUp()">Get Started</button></p>
    </div>
</div>
</body>