<div class="center">
    <div class="container">
      <h2 style="color: #0000ff;">Signup</h2>
      <p  style="color: #f35151;">Register yourself by filling below details!</p>
      <br>
      <form [formGroup]="signupForm" (ngSubmit)="signUp()">
        <div class="form-group">
            <input type="text" class="form-control" id="firstname" formControlName="firstname" placeholder="Enter first name" required>
            <span style="color: red;" *ngIf="signupForm.controls['firstname'].dirty && 
            signupForm.hasError('required','firstname')">*First name is required</span> 
        </div>
        <div class="form-group">
               <input type="text" class="form-control" id="lastname" formControlName="lastname" placeholder="Enter last name" required>
               <span style="color: red;" *ngIf="signupForm.controls['lastname'].dirty && 
               signupForm.hasError('required','lastname')">*First name is required</span> 
            </div>
        <div class="form-group">
          <input type="email" class="form-control" id="email" formControlName="email" placeholder="Enter your Email" required>
          <span style="color: red;" *ngIf="signupForm.controls['email'].dirty && 
          signupForm.hasError('required','email')">*Email is required</span>    
            </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter password" required>
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="confirmpassword" formControlName="confirmpassword" placeholder="Enter Confirm password" required>
          <i style="color: red;" *ngIf="signupForm.hasError('passwordMismatch') && signupForm.invalid">
            *Passwords must match.
          </i>
          
        </div>
        <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Submit</button>
      </form>
      <br>
      <a routerLink="/log-in">Already have an account?</a>
     
    </div>
  </div>
  
  