
<div class="center">
    <div class="container">
        <h2>Login</h2>
        <form>
            <div class="form-group">
                
                    <input type="text" class="form-control" id="email" placeholder="Enter your email" required>
                
            </div>
            <div class="form-group">
                
                    <input type="password" class="form-control" id="password" placeholder="Enter password" required>
                
            </div>
            <button type="button" id="demo" class="btn-primary">Login</button>
       
        </form>
        <P>Don't have an account ? <button (click)="onSignupClick()">Signup</button></P>
        <P>Go to dashboard page <button (click)="onDashboardClick()">Dashboard</button></P>
    </div>
</div>
