/* Center the content */
body {
    background-image: url('./../../assets/p5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    font-family: 'Poppins', sans-serif;
  }
.center {
  /* background-image: url('/src/assets/Attendence.jpg'); */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
  }

/* login.component.css */

  .label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  form {
    max-width: 400px;
    margin: auto;
    width: 300px;
  }

/* Style the container */

.container {
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
}


/* Style the form elements */
.form-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 15px;
  }
input.form-control {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input.form-control:focus {
    border-color: #007bff;
}


/* Style the submit button */

.btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}


/* Style the header */

h2 {
    color: #0000ff;
    font-size: 24px;
    margin-bottom: 20px;
}

P {
    color: #0c0c0c;
    font-size: 15px;
    margin-bottom: 10px;
}

div {
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}