<body>
<div class="center">
    <div class="container">
        <h2>Login</h2>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label  for ="name">Email<span style ="color: red;">*</span></label>
                <input type="email" id="email" class="form-control" formControlName="email" placeholder="Enter you email" required="" maxlength="50">
                <i style="color: tomato;" *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                    Please enter a valid email address.</i>
            </div>
            <div class="form-group">
                <label for ="name">Password<span style ="color: red;">*</span></label>
                <input type="password" id="password" class="form-control" formControlName="password" placeholder="Enter your password" required maxlength="25">
                <i style="color: tomato;" *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched">
                    Please enter your valid password.
                </i>
            </div>
            <button type="submit" [disabled]="!loginForm.valid" class="btn-primary">Login</button>
        </form>
        <br>
        <a routerLink="/sign-up">Don't have an account ?</a>

    </div>
</div>
</body>
