<div class="container">
    <!-- <div class="header"> -->
    <nav>
      <ul>
        <li>
            <a  class="logo">
              <img src="assets/logo.jpg" alt="Logo">
              <span class="nav-item">Dashboard</span>
            </a>
          </li>
        <li>
          <!-- <i class="fas fa-home"></i> -->
          <button class="hover"  mat-button (click)="toggleDropdown()">
            <div >
          <span >Attendence Report</span>
          
            </div>
        </button>
        </li>
        <li>
          <!-- <button class="hover" mat-button  [matMenuTriggerFor]="Manager">
          <span >Manager</span>
        </button> -->
        </li>
        <li><a class="logout">
            <button mat-button (click)="logout()">Log out</button>
            <!-- <span class="nav-item">Log out</span> -->
          </a></li>
      </ul>
    </nav>
    <section class="main">
      <div class="main-top"> 
    <hr>
    <img src="assets/Attendence.jpg" alt="Attendance Image">
    <hr>
  
      </div>
      <div class="selectdrop">
        <section>
          <span *ngIf="showDropdown" class="button-dropdowns">
            <mat-form-field>
              <mat-label>Select Month</mat-label>
              <mat-select [(ngModel)]="selectedMonth" (ngModelChange)="generateReport()" name="selectedMonth"
                style=" color: blue; text-align: justify;">
                <mat-option *ngFor="let month of months" [value]="month">{{month}}</mat-option>
              </mat-select>
            </mat-form-field>
        
            <mat-form-field>
              <mat-label>Select Employee</mat-label>
              <mat-select [(ngModel)]="selectedEmployee" (ngModelChange)="generateReport()" name="selectedEmployee"
                style=" color: blue; text-align: justify;" class="hover">
                <mat-option *ngFor="let employee of employeeData" [value]="employee.id">{{employee.employeeName}}</mat-option>
              </mat-select>
            </mat-form-field>
          </span>
          
          </section>
      </div>
  </section>
 



   <!-- Your attendance report content goes here -->
   <div *ngIf="showTable" [data]class="table-container">
    <table class="table">
      <thead>
        <tr>
          <th>EmpName</th>
          <th>Designation</th>
          <th>Date</th>
          <th>Status</th>
          <th>Login Time</th>
          <th>Logout Time</th>
          <th>Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of gridData">
          <td>{{ record.employeeName }}</td>
          <td>{{ record.designation }}</td>
          <td>{{ record.date | date }}</td>
          <td>{{ record.status }}</td>
          <td>{{ record.loginTime |date:'shortDate'}}</td>
          <td>{{ record.logoutTime | date:'shortDate' }}</td>
          <td>{{ record.hours }}</td>
        </tr>
      </tbody>
    </table>
  </div>


 <!-- dropdown list for Attendence -->
<!-- <mat-menu #Attendence="matMenu">
<button class="matbutton" mat-menu-item (click)="selectMonth('January')"> January</button>

<button class="matbutton" mat-menu-item (click)="selectMonth('February')">February</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('March')"> March</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('April')">April</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('May')"> May</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('June')">June</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('July')"> July</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('August')">August</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('September')"> September</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('October')">October</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('November')"> November</button>
<button class="matbutton" mat-menu-item (click)="selectMonth('December')">December</button>
</mat-menu>-->
 <!-- dropdown list for Manager -->
<!-- <mat-menu #Manager="matMenu">
    <button class="matbutton" mat-menu-item (click)="selectManager('Nishant')"> Nishant</button>
    <button  class="matbutton"mat-menu-item (click)="selectManager('Amit')">Amit</button>
    <button class="matbutton" mat-menu-item (click)="selectManager('Anshul')"> Anshul</button>    
 </mat-menu> -->



  